.resume{
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume a {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  height: 100%;
}
.resume a button {
  height: max-content;
  width: max-content;
  padding: 5px 10px;
  color: #ffffff;
  transform: scale(1.6);
}
.resume button a {
  color: #ffffff;
  text-decoration: none;
}
.resume button:hover {
  box-shadow: var(--shadow-button);
}

@media (max-width: 780px) {
  .resume button {
    width: 70%;
    font-size: x-small;
    transform: scale(1.5);
  }
}