.link {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  height: 100%;
  width: fit-content;
  color: var(--text-primary);
  font-size: x-large;
  padding: 0 15px;
  transition: all 0.5s;
}

@media (max-width: 900px) {
  .link {
    width: 70%;
    font-size: small;
  }
}